
.title {
    text-align: center;
    font-weight: bold;
}

.chess {
    background-color: rgb(93, 140, 147);
    display: block;
    margin: 50px auto;
    box-shadow:15px 15px #a7b4b2;
    cursor: pointer;
}
div {
    text-align: center;
}

.restart {
    padding: 10px 20px;
    background-color: #396165;
    border: 5px solid rgb(167, 169, 171);
    border-radius: 5px;
    cursor: pointer;
    color:antiquewhite;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 0 20px #6d6969
}
/* 
.restart ::before,
.restart ::after{
    content: '';
    position: abusolute;
    width: 20px;
    height: 20px;
    border: 2px solid #396165;
}

.restart ::before{
    top: 0;
    left: 0;
    border-right: 0;
    border-bottom: 0;
}

.restart ::after{
    top: 0;
    left: 0;
    border-top: 0;
    border-left: 0;
}

.restart :hover{
   background-color: hsl(307, 33%, 66%);
   color: black;
    border-right: 0;
    border-bottom: 0;
} */